* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

html.dark {
    background-color: #111827;
}

main {
    display: flex;
    min-height: 80vh;
}

footer {
    background-color: aqua;
    height: 20vh;
}